__pycache__/
*.pyc
.pytest_cache/
*.ug
*.svg
.venv/
out/
dist/
examples/data/train.log
examples/data/train4k.log
examples/data/hu_train.log
examples/data/.loop_start
examples/data/.wikicache/
examples/data/hungarian.train.npz
examples/data/hungarian.train.json
examples/data/hu_seg*.log
